# IDE stuff
.vscode

# Terraform state files
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.lock
**/.terraform.tfstate.lock.info
**/terraform.tfstate.backup
**/.terraform.lock.hcl

# Kubeconfs
**/k3s.yaml

# Manifests downloaded by ansible
**/*-dl.yaml

# Secrets
.vault-passwd
**/vault.yml
**/*secrets*.tfvars